* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: #1e262d;
  align-items: center;
  justify-content: center;
}
.loading {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 15%;
}
.loading img {
  filter: grayscale(100%);
}