.burg-menu {
  position: absolute;
}

#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  display: none;
  position: fixed;
  top: 4em;
  right: 3%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 999999999999999;
}

.hamburger div {
  position: relative;
  width: 1.8em;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 6px;
  transition: all 0.3s ease-in-out;
}
#bar1,
#bar2,
#bar3 {
  transition: all 0.1s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1e262df2;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  border: none !important;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
nav {
  text-align: center;
  display: flex;
  flex-direction: column;
}
nav .burg {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  width: auto;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 15px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -2.5px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}